{% extends "dashboard/layout.html" %}
{% load render_table from django_tables2 %}
{% load i18n %}

{% block title %}
    Homepage | {{ block.super }}
{% endblock %}

{% block breadcrumbs %}
    <ul class="breadcrumb">
        <li>
            <a href="{% url 'dashboard:index' %}">{% trans "Dashboard" %}</a>
        </li>
        <li class="active">Homepage</li>
    </ul>
{% endblock %}

{% block header %}
    <div class="page-header action">
        <h1>Gestion de la homepage</h1>
    </div>
{% endblock header %}

{% block dashboard_content %}
    {% block create_suggest %}
        <div class="table-header">
            <h3><i class="icon-picture icon-large"></i> Ajouter une image</h3>
        </div>
        <div class="well">
            <form action="{% url 'dashboard:homepage_slider' %}" method="post" class="form-inline" enctype="multipart/form-data">
                {% csrf_token %}
                {% include "dashboard/partials/form_fields_inline.html" with form=slider_form %}
                <button class="btn btn-primary" type="submit" data-loading-text="{% trans 'Submitting...' %}">
                    <i class="icon-plus"></i> Ajouter aux slider
                </button>
            </form>
        </div>
    {% endblock %}

    <form action="." method="post">
        {% csrf_token %}
        {% render_table slider %}
    </form>
{% endblock dashboard_content %}