{% extends "layout_2_col.html" %}

{% load currency_filters %}
{% load staticfiles %}

{% block title %}
    Indochine | Nos formules
{% endblock %}

{% block extrastyles %}
    <link rel="stylesheet" type="text/css" href="{% static "css/card.css" %}" />
    <link rel="stylesheet" type="text/css" href="{% static "css/formula.css" %}" />
    <style>
        body {
            background: url('{% static "images/Photo-background-1.png" %}') no-repeat fixed center;
            background-size:cover;
        }
    </style>
{% endblock %}

{% block extra-scripts %}
    <script type="text/javascript" src="{% static "js/card.js" %}"></script>
{% endblock %}


{% block column_right %}
    <div class="basket">
        <img src="{% static "images/Side-bar-Infos-formules.png" %}" alt="Panier" />
    </div>
{% endblock %}

{% block content %}
    <div class="card">
        <h2>Nos formules</h2>
        <img class="card-banner full-width" src="{% static "images/Banniere-Menus.png" %}" />
        {% if products_by_formula %}
            <section>
                {% for inc, category in products_by_formula.items %}
                    <div class="category">
                        <h3>{{ category.name }}</h3>
                        <div class="category-products">
                            {% if category.products_nb > 0 %}
                                {% for product in category.products %}
                                    {% include "product-details.html" with product=product %}
                                {% endfor %}
                            {% else %}
                                Aucun produit
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            </section>
        {% else %}
            <p class="nonefound">Aucun produit</p>
        {% endif %}
    </div>
{% endblock content %}
