{% load purchase_info_tags %}
{% load currency_filters %}
{% load staticfiles %}

{% purchase_info_for_product request product as session %}
<div class="product">
    <div class="media">
        <div class="media-left">
            <img class="media-object pull-left product-img" src="{{ product.images.all.0.original.url|default:'/media/image_not_found.jpg'}}">
        </div>
        <div class="media-body">
            <div class="desc pull-left">
                <h3>{{ product.title }}</h3>
                <h4>{{ product.subtitle }}</h4>
                <p>{{ product.description|safe|linebreaksbr }}</p>
                {% if product.add_desc != None %}
                    <p>{{ product.add_desc|safe|linebreaksbr }}</p>
                {% endif %}
            </div>
            <div class="link-and-infos text-center pull-left">
                <div class="price">
                    {{ session.price.incl_tax|currency:session.price.currency }}
                </div>
                <div class="unity">
                    {{ product.unity }}
                </div>
                <a class="show-product-link" href="{{ product.get_absolute_url }}">
                    <img src="{% static "images/Picto-Loupe.png" %}" alt="voir produit" />
                </a>
            </div>
        </div>
    </div>
</div>