{% extends "base.html" %}
{% load staticfiles %}
{% load compress %}

{% block favicon %}
    <link rel="shortcut icon" href="{% static "oscar/favicon.ico" %}" />
{% endblock %}

{% block mainstyles %}
    {% block styles %}
        {% compress css %}
            <link rel="stylesheet" type="text/css" href="{% static "css/normalize.css" %}" />
            <link rel="stylesheet" type="text/css" href="{% static "vendor/bootstrap-3.3.2/css/bootstrap.css" %}" />
            <link rel="stylesheet" type="text/css" href="{% static "css/main.css" %}" />
        {% endcompress %}
        <style>
            @font-face {
                font-family: "Myriad Pro Regular";
                font-style: normal;
                font-weight: normal;
                src: url({% static "fonts/MYRIADPRO-REGULAR.woff" %}) format("woff");
            }

            @font-face {
                font-family: "Myriad Pro Bold";
                font-style: normal;
                font-weight: normal;
                src: url({% static "fonts/MYRIADPRO-BOLD.woff" %}) format("woff");
            }

            @font-face {
                font-family: "Myriad Pro SemiBold";
                font-style: normal;
                font-weight: normal;
                src: url({% static "fonts/MYRIADPRO-SEMIBOLD.woff" %}) format("woff");
            }
        </style>
    {% endblock %}
{% endblock %}

{# Local scripts #}
{% block scripts %}
    {{ block.super }}
    {% compress js %}
        <script type="text/javascript" src="{% static "vendor/jQuery-2.0.3/jQuery-2.0.3.min.js" %}"></script>
        <script type="text/javascript" src="{% static "vendor/bootstrap-3.3.2/js/bootstrap.min.js" %}"></script>
        <script type="text/javascript" src="{% static "js/main.js" %}"></script>
    {% endcompress %}
{% endblock %}

{% block layout %}
    {% include "components/header.html" %}
    {% include "components/navbar.html" %}

    {# Main content of page - other layout templates may override this block #}
    {% block content_wrapper %}
        <div class="container">
            {% block content %}{% endblock %}
        </div>
        {% block after_content %}{% endblock %}
        {% include "components/footer.html" %}
    {% endblock %}
{% endblock %}

{% block extrascripts %}
    {% include "partials/extrascripts.html" %}
    {{ block.super }}
{% endblock %}
