{% extends "layout.html" %}
{% load promotion_tags %}
{% block content_wrapper %}
    <div class="container">
        <div class="page_inner">
            <div class="row">
                <div class="col-sm-8 col-md-9">
                    {% block content %}{% endblock %}
                </div>

                <aside class="sidebar col-sm-4 col-md-3">
                    {% block column_right %}{% endblock %}
                </aside>
            </div>
        </div>
    </div>

    {% block after_content %}{% endblock %}
    {% include "components/footer.html" %}
{% endblock %}
