{% load staticfiles %}
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-md-4 contact">
                        <img src="{% static "images/Picto-footer-Bulle.png" %}" alt="contact" />
                        <a class="phone" href="tel:+33561723228">05 61 72 32 28</a>
                        <a class="mail" href="mailto:info@traiteurindochine.fr">info@traiteurindochine.fr</a>
                    </div>
                    <div class="col-md-3 health">
                        <img src="{% static "images/Prevention-sante.png" %}" alt="prévention santé" />
                    </div>
                    <div class="col-md-5 address">
                        <img src="{% static "images/Picto-footer-Map.png" %}" alt="map-picto" />
                        <address>
                            C.C. Carrefour Grand Portet - <span>Entrée n°1</span>
                            <div class="sec">Boulevard de l'Europe 31120 Portet-sur-Garonne</div>
                        </address>
                    </div>
                </div>

                <div class="text-center links">
                    <ul class="list-unstyled ">
                        <li>
                            <a href="#">Contactez-nous</a>
                        </li>
                        &bull;
                        <li>
                            <a href="#">Notre carte</a>
                        </li>
                        &bull;
                        <li>
                            <a href="#">CGV</a>
                        </li>
                        &bull;
                        <li>
                            <a href="#">Mention légales</a>
                        </li>
                        &bull;
                        <li>
                            <a href="#">Plan du site</a>
                        </li>
                        &bull;
                        <li>
                            <a href="#">Rejoignez-nous</a>
                        </li>
                    </ul>
                </div>
            </div>
        </footer>