h1 {
    margin-bottom: 20px;
}

img.account-banner {
    margin: 20px 0;
}

h2 {
    text-transform: lowercase;
    margin-bottom: 20px
}

form.contact-fom-wrapper {
    background-color: #323232;
    height: 300px;
}

div.account-fom {
    color: #FFFFFF;
    margin-top: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
}

div.account-fom .form-control {
    border-radius: 0;
}

.account-form-submit {
    font-family: 'Myriad Pro SemiBold';
    text-transform: uppercase;
    background-color: #B1B835;
    color: #FFFFFF;
    border-radius: 0;
    margin: 30px 0 20px 60px;
}

@media (max-width: 992px) {
    form.contact-fom-wrapper {
        height: 480px;
    }

    div.account-fom {
        margin-left: 0;
        margin-right: 0;
    }

    footer {
        margin-top: 100px;
    }
}