/**
 * CATEGORIES
 */

.card img.full-width {
    width: 100%;
}
.card .category {
    margin-top: 20px;
    margin-bottom: 10px;
}
.card .category .category-image {
    position: relative;
}
.card .category .category-image img.category-control {
    position: absolute;
    right: 40px;
    top: 55px;
    cursor: pointer;
}
.card .category .category-image img.category-up {
    display: none;
}
.card .category .category-products {
    display: none;
}

@media (max-width: 992px) {
    .card .category .category-image img.category-control {
        top: 12px;
        right: 10px;
    }
}


/**
 * PRODUCT
 */

.product-img {
    width: 128px;
}
.product {
    background-color: #FFFFFF;
    padding: 10px;
    margin-top: 20px;
}
.product .desc {
    width: 90%;
}
.product .link-and-infos {
    width: 10%;
}
.product .link-and-infos .price {
    font-family: 'Myriad Pro Bold';
    font-size: 22px;
}
.product .link-and-infos .unity {
    font-family: 'Myriad Pro SemiBold';
    font-size: 18px;
}
.product .link-and-infos a img {
    margin-top: 10px;
}

@media (max-width: 992px) {
    .product-img {
        width: 100%;
    }
    .product .desc {
        float: none !important;
        width: 100%;
    }
    .product .link-and-infos {
        float: none !important;
        width: 100%;
        position: relative;
    }
    .product .link-and-infos .show-product-link {
        position: absolute;
        top: 0;
        right: 0;
    }
}