/**
 * CAROUSELS
 */

.carousel-controls {
    margin-top: 10px;
}
.carousel-controls a.left {
    float: left;
}
.carousel-controls a.right {
    float: right;
}
.carousel-controls ol.carousel-indicators {
    float: left;
    list-style: none;
    bottom: 0;
    position: relative;
    width: 60%;
    padding: 0;
    margin: 0;
    margin-left: -30%;
}
.carousel-controls ol.carousel-indicators li {
    display: inline-block;
    text-indent: -999px;
    cursor: pointer;
    width: 10px;
    height: 10px;
    border-radius: 10px;
    background-color: transparent;
    border: 1px solid #A09EA0;
    margin-right: 20px;
}
.carousel-controls ol.carousel-indicators li.active {
    background-color: #A09EA0;
    width: 12px;
    height: 12px;
}


/**
 * BOTTOM SLIDER
 */

#rubrics {
    margin-top: 25px;
    border-bottom: 20px solid #363136;
    margin: 0 auto;
    height: 397px;
}
#rubrics .item img {
    margin: 0 auto;
}
#rubrics a.carousel-control {
    background-image: none;
}
#rubrics a.carousel-control.left .glyphicon-chevron-left {
    margin-left: -75px;
}
#rubrics a.carousel-control.right .glyphicon-chevron-right {
    margin-right: -75px;
}


/**
 * SUGGESTIONS
 */

.suggestions {
    margin-top: 30px;
    padding: 20px;
    background-color: rgba(54, 49, 54, 0.05);
    border: 1px solid rgba(54, 49, 54, 0.25);
}
.suggestions .media h3 {
    font-family: 'Myriad Pro Bold';
    font-size: 22px;
    color: #791F1F;
    margin-top: 5px;
    margin-bottom: 0;
}
.suggestions .media p {
    font-family: 'Myriad Pro SemiBold';
    font-size: 14px;
    color: #363136;
}
.suggestions .media a.show-product-link {
    margin-top: 5px;
}