/**
 * Slider
 */

.slider-controls {
    margin-top: 10px;
}
.slider-controls a.left {
    float: left;
}
.slider-controls a.right {
    float: right;
}
.slider-controls ol.carousel-indicators {
    float: left;
    list-style: none;
    bottom: 0;
    position: relative;
    width: 60%;
    padding: 0;
    margin: 0;
    margin-left: -30%;
}
.slider-controls ol.carousel-indicators li {
    display: inline-block;
    text-indent: -999px;
    cursor: pointer;
    width: 10px;
    height: 10px;
    border-radius: 10px;
    background-color: transparent;
    border: 1px solid #A09EA0;
    margin-right: 20px;
}
.slider-controls ol.carousel-indicators li.active {
    background-color: #A09EA0;
    width: 12px;
    height: 12px;
}

@media (max-width: 992px) {
    .carousel {
        margin-bottom: 50px;
    }
}


/**
 * BOTTOM SLIDER
 */

#rubrics {
    margin-top: 25px;
    border-bottom: 20px solid #363136;
    margin: 0 auto;
    height: 397px;
}
#rubrics .item img {
    margin: 0 auto;
}
#rubrics a.carousel-control {
    background-image: none;
}
#rubrics a.carousel-control.left .glyphicon-chevron-left {
    margin-left: -75px;
}
#rubrics a.carousel-control.right .glyphicon-chevron-right {
    margin-right: -75px;
}

@media (max-width: 992px) {
    #rubrics {
        height: auto;
    }
    #rubrics a.carousel-control.left .glyphicon-chevron-left {
        margin-left: -20px;
        margin-top: -10px;
    }
    #rubrics a.carousel-control.right .glyphicon-chevron-right {
        margin-right: -20px;
        margin-top: -10px;
    }
}

footer {
    margin-top: -20px;
}


/**
 * SUGGESTIONS
 */

.suggestions {
    margin-top: 30px;
    padding: 20px 10px 10px 20px;
    background-color: rgba(54, 49, 54, 0.05);
    border: 1px solid rgba(54, 49, 54, 0.25);
}
.suggestions .media h3 {
    font-family: 'Myriad Pro Bold';
    font-size: 22px;
    color: #791F1F;
    margin-top: 5px;
    margin-bottom: 0;
}
.suggestions .media img.media-object {
    max-width: 64px;
    max-height: 64px;
}
.suggestions .media-body p {
    font-family: 'Myriad Pro SemiBold';
    font-size: 14px;
    color: #363136;
}
.suggestions .media-body .desc {
    width: 90%;
}
.suggestions .media a.show-product-link {
    width: 10%;
    margin-top: 15px;
}

@media (max-width: 992px) {
    .suggestions {
        margin-top: 0;
        padding: 10px;
    }
    .suggestions .media .media-left {
        display: none;
    }
    .suggestions .media .media-body a.show-product-link img {
        width: 100%;
    }
}