/**
 * SLIDER
 */

.slider-controls {
    margin-top: 10px;
}
.slider-controls a.left {
    float: left;
}
.slider-controls a.right {
    float: right;
}
.slider-controls ol.carousel-indicators {
    float: left;
    list-style: none;
    bottom: 0;
    position: relative;
    width: 60%;
    padding: 0;
    margin: 0;
    margin-left: -30%;
}
.slider-controls ol.carousel-indicators li {
    display: inline-block;
    text-indent: -999px;
    cursor: pointer;
    width: 10px;
    height: 10px;
    border-radius: 10px;
    background-color: transparent;
    border: 1px solid #A09EA0;
    margin-right: 20px;
}
.slider-controls ol.carousel-indicators li.active {
    background-color: #A09EA0;
    width: 12px;
    height: 12px;
}

@media (max-width: 992px) {
    .carousel {
        margin-bottom: 50px;
    }
}


/**
 * BOTTOM SLIDER
 */

#rubrics {
    margin-top: 25px;
    border-bottom: 20px solid #363136;
    margin: 0 auto;
    height: 397px;
}
#rubrics .item img {
    margin: 0 auto;
}
#rubrics a.carousel-control {
    background-image: none;
    color: rgba(0, 0, 0, .2);
}
#rubrics a.carousel-control:hover {
    color: rgba(0, 0, 0, .8);
}
#rubrics a.carousel-control.left .glyphicon-chevron-left {
    margin-left: -75px;
}
#rubrics a.carousel-control.right .glyphicon-chevron-right {
    margin-right: -75px;
}

@media (max-width: 992px) {
    #rubrics {
        height: auto;
    }
    #rubrics a.carousel-control.left .glyphicon-chevron-left {
        margin-left: -20px;
        margin-top: -10px;
    }
    #rubrics a.carousel-control.right .glyphicon-chevron-right {
        margin-right: -20px;
        margin-top: -10px;
    }
}

footer {
    margin-top: -20px;
}
