/**
 * PRODUCT
 */

.product {
    background-color: rgba(255, 255, 255, 0.60);
}
.product .picture {
    text-align: center;
    background-color: #FFFFFF;
    height: 290px;
}
.product .picture img {
    max-width: 100%;
    max-height: 100%;
}
.product .infos {
    padding: 20px;
}
.product .infos .desc .ingredients {
    display: none;
}
.product .infos .link-price {
    text-align: center;
}
.product .infos .link-price .price {
    font-family: 'Myriad Pro Bold';
    font-size: 22px;
}
.product .infos .link-price .unity {
    font-family: 'Myriad Pro SemiBold';
    font-size: 18px;
}
.product .infos .link-price .link img {
    margin-top: 10px;
    cursor: pointer;
}


/**
 * ASSOCIATED PRODUCTS
 */

.associated-products {
    background-color: rgba(255, 255, 255, 0.60);
}
.associated-products .list {
    padding: 20px;
}
.associated-products .list .recomand {
    text-align: center;
}
.associated-products .list .recomand a:hover {
    text-decoration: none;
}
.associated-products .list .recomand img {
    max-width: 100%;
    margin-bottom: 10px;
}


/**
 * SUGGESTIONS
 */

.suggestions {
    background-color: rgba(255, 255, 255, 0.60);
}


/**
 * ASIDE BASKET
 */

aside .basket {
    margin-top: 75px;
}