h1 {
    margin-bottom: 20px;
}

h2 {
    text-transform: lowercase;
}

.card-link {
    display: inline-block;
    text-transform: uppercase;
    border: 1px solid #CCCCCC;
    background-color: #F5F5F5;
    font-family: 'Myriad Pro Bold';
    font-size: 16px;
    color: #363136;
    padding: 20px;
    margin: 20px 0;
}
.card-link:hover {
    text-decoration: none;
    color: #363136;
}
.card-link span.glyphicon {
    color: #B2B738;
}